*{
    margin: 0;
    padding: 0;
}


body {
    background: url(https://i.pinimg.com/originals/69/ca/d4/69cad4b7a425f8814c2753078c3fb3dd.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.volver {
	position: absolute;
	top: 25px;
	left: 25px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	text-decoration: underline;
	display: none;
}

.slider {
    border-radius: 5px;
    box-shadow: 5px 5px hsl(0, 0%, 76%);
    position: relative;
}
 
.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.slider ul li  {
    position: relative;
    height: 450px;
		width: 50%;
    padding: 50px;
		border-radius: 25px;
		background-color: white;
		display: flex;
		justify-content: center;
		gap: 10%;
		align-items: center;
}
 
.slider ul li img {
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
    
}

.slider ul li p {
	display: none;
}

.slider ul li #boton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    text-align: center;
		border: none;
		background: blue;
		color: white;
		padding: 10px 20px;
		border-radius: 5px;
}

.slider .buttons  {
    position: absolute;
    top: 50%;
    width: 33%;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    
}
.slider .buttons .next {
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 60px;
    text-align: center;
    border:2px solid #fff;
    border-radius: 70px;
    background: blue;
    color: white;
}    
.slider .buttons .prev {
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 60px;
    text-align: center;
    border:2px solid #fff;
    border-radius: 70px;
    background: blue;
    color: white;
}   
.slider .buttons .next:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}
.slider .buttons .prev:hover {
    background: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 93%);
}
 
/* slider animation */
.slider ul li {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

.btn {
    justify-content: center;
    align-items: center;
    padding: 10px  15px;
}

a{
    border-radius: 20px;
    border: 1px solid white;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    background-color: blue;
    font-family:'Press Start 2P', cursive;
}


.btn :hover{
    background-color: gray;
    color: black;
    text-align: center;
}
